.logout-button {
  position: absolute;
  top: 16px;
  right: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-button:hover {
  background-color: white;
  color: #6a0dad;
}
